# Imports

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import pickle

# Connection à la bdd via pymsql

In [ ]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='****',
                         db='dataengineer')

# create cursor
cursor=connection.cursor()

In [ ]:
# Execute query
sql = "SELECT * FROM address;"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchmany(10)
for i in result:
    print(i)

In [ ]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="****",
                               db="dataengineer"))

## Utilisation de la sauvegarde qui va être importée dans le serveur mysql en tant que table temporaire pour y ajouter les données geographique dans la table address

In [ ]:
with open('address_v1.pkl', 'rb') as f:
    df_loc = pickle.load(f)

df_loc.head(5)

In [ ]:
# Insert whole DataFrame into MySQL
df_loc.to_sql('address_test', con = engine, if_exists = 'append', chunksize = 1000)